[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.build]
cmds = ["npm install", "npx prisma generate", "npm run build"]

[start]
cmd = "npx prisma db push && npx prisma db seed && npm run start"
